html,
body,
h1 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Monoton", serif;
    font-weight: 400;
    font-style: normal;

    width: auto;

    font-size: 4rem;

    color: black;
}

#header-container {
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: 0.9;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("img/band.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -700px;
}